body {
    background-color: #f8f9fa;
}

.container {
    margin-top: 50px;
    text-align: center;
}

h1 {
    padding: 30px;
    font-weight: 600 !important;
    font-size: 3.2em;
    color: #343a40;
}

.form-inline {
    margin-top: 30px;
}

.btn-success {
    margin-top: 20px;
    font-size: 1.2em;
}

.drag-drop {
    border: 2px dashed #28a745;
    padding: 50px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    position: relative;
}

.drag-drop:hover {
    background-color: #e9ecef;
}

.image-preview {
    position: relative;
}

.image-info {
    text-align: left;
}

.result-image {
    max-width: 200px;
    max-height: 200px;
    margin-top: 20px;
}

.modal-body img {
    max-width: 100%;
}
